<div>
    <div class="pl-10 pt-3 pb-3 pr-10 bg-black text-white">
        <p class="font-bold text-2xl">성균관대학교</p>
        <p class="font-light text-sm">Co-Deep-Learning Project</p>
        <p class="font-light text-sm">팀: 은혜로운 민트나라</p>
        <div class="pt-5 font-normal text-xs">
            <p>박혜민 (hyemin525@g.skku.edu, 조장 / 웹개발)</p>
            <p>이나은 (gold9962@g.skku.edu, 모델 개발)</p>
            <p>고준서 (sta06167@g.skku.edu, 모델, 웹 검수, CSS, DSAIL)</p>
            <p>한진영 (지도 교수, DSAIL)</p>
            <p class="pt-2">글로벌융합학부 인공지능융합전공</p>
        </div>
        <p class="pt-3 text-sm font-semibold">Powered By 'Data Science & Artificial Intelligence LAB'</p>
    </div>
</div>